<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Garage</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Garage</h1>
    <p class="state {{state.doorState}}">State: {{state.doorState}}</p>
    <ul>
      <li class="open"><a href="/open">Open</a></li>
      <li class="close"><a href="/close">Close</a></li>
      <li class="status"><a href="/status">Status</a></li>
      <li class="set_open"><a href="/set-open">Set Open</a></li>
      <li class="set_close"><a href="/set-close">Set Close</a></li>
    </ul>
  </body>
</html>