body {
  margin: 50px;
  font-size: medium;
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  font-size: medium;
  list-style-type: none;
  font-weight: bolder;
  margin: 15px;
}

li a {
  color: black;
}

p.state {
  font-size: xx-large;
  color: orange;
}

p.Opened,
li.open a {
  font-size: xx-large;
  color: red;
  margin: 20px;
}

p.Closed,
li.close a {
  font-size: xx-large;
  color: green;
  margin: 20px;
}
